{% extends 'base.html' %}
{% block title %}
Index
{% endblock  %}
{% block content %}
<div class="container">
<h1>Page Title</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, cumque dolores? Ullam quas eos expedita aspernatur vel? Minima est iste reiciendis explicabo, pariatur, similique autem repudiandae quae maxime quia veritatis.
Recusandae voluptatem ea dolor, asperiores accusamus, explicabo expedita nostrum quaerat dicta voluptas eveniet cumque quo aliquid? Facilis perferendis nemo sed, delectus cumque earum, inventore pariatur veritatis vitae atque, culpa quisquam.
Rem veritatis voluptas repellat eos similique nihil saepe, minima consectetur provident atque? Consequatur fuga dignissimos ut obcaecati. Accusantium quas dolores, eaque harum exercitationem culpa commodi molestias explicabo magni quo cum?
Temporibus deserunt nemo totam eligendi repellendus iste, commodi quas quis quod dolorem. Omnis reprehenderit dolor laborum enim, commodi, repudiandae sed ab nam corporis suscipit minima? Sapiente qui ipsa est dolores!
Fugiat obcaecati aliquid officia? Adipisci magni similique quas! Nobis delectus incidunt vitae quis officia, odio consectetur libero eius dolores a unde natus, voluptas saepe atque commodi similique minima quo in?</p>
</div>
{% endblock  %}